.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.kids-row {
    display: flex;
    align-items: center; /* вертикальное центрирование текста по слайдеру */
    gap: 40px;
    margin-bottom: 40px;
}

.description {
    flex: 2;
    min-width: 300px;
    max-width: 600px;
}

.description p {
    font-size: 17px;
    line-height: 1.8;
    color: #333;
}

/* Слайдер справа */
.slider-wrapper {
    flex: 1;
    min-width: 300px;
    position: relative;
    overflow: hidden;
}

/* Услуги под слайдером */
.services {
    text-align: center;
    margin-top: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.services h3 {
    font-size: 24px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

/*.services h3::after {*/
/*    content: '';*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 4px;*/
/*    background-color: #FFD700;*/
/*    margin-top: 5px;*/
/*    border-radius: 2px;*/
/*}*/

.services ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.services ul li {
    font-size: 18px;
    margin: 6px 0;
}

/* Адаптив */
@media (max-width: 768px) {
    .kids-row {
        flex-direction: column;
        align-items: center;
    }

    .description {
        text-align: center;
        flex: none;
        max-width: 90%;
    }

    .description p {
        font-size: 16px;
    }
}
