.about {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #222;
    position: relative;
}

/*.about h2::after {*/
/*    content: '';*/
/*    display: block;*/
/*    width: 300px;*/
/*    height: 6px;*/
/*    background-color: #FFD700;*/
/*    margin: 15px auto 70px auto;*/
/*    border-radius: 3px;*/
/*}*/

.about h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #222;
}

.about .specialist-text {
    margin-bottom: 20px; /* пространство между специалистами */
}

.about .specialist-text p {
    line-height: 1.8;
    font-size: 15px;
    color: #555;
}

.about p {
    line-height: 1.8;
    /*margin-bottom: 20px;*/
    font-size: 16px;
    color: #555;
}

.about .concept,
.about .advantages {
    margin-top: 80px;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.about li {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.about li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #FFD700;
}

/* Мобильная адаптация */
@media screen and (max-width: 768px) {
    .about {
        padding: 40px 15px;
    }

    .about h2 {
        font-size: 28px;
    }

    .about h2::after {
        width: 100px;
        height: 5px;
        margin: 12px auto 30px auto;
    }

    .about h3 {
        font-size: 16px;
    }

    .about p, .about li {
        font-size: 14px;
    }

    .about .specialist-text,
    .about .concept,
    .about .advantages {
        margin-bottom: 40px;
        margin-top: 60px;
    }
}
